{erl_opts, [
    debug_info,
    {parse_transform, lager_transform}
]}.
{deps, [
    {lager, {git, "https://github.com/erlang-lager/lager", {tag, "3.2.4"}}},
    {gproc, {git, "https://github.com/uwiger/gproc",       {branch, "0.6.1"}}}
]}.

{profiles, [
    {test, [
        {deps, []}
    ]},
    {docs, [
        {deps, [
            {edown, {git, "https://github.com/uwiger/edown.git", {branch, "master"}}}
        ]},
        {edoc_opts, [
            {doclet, edown_doclet},
            % {top_level_readme, {"doc/index.html", "https://github.com/shopgun/daphnia_client"}},
            {todo, true},
            {report_missing_types, true},
            {source_path, ["src"]},
            {stylesheet, ""},
            {image, ""},
            {app_default, "http://www.erlang.org/doc/man"}
        ]}
    ]}
]}.